@model IEnumerable<KulaMVC.Models.Module>

@{
    ViewData["Title"] = "Index";
}


<a asp-action="Create">Create New</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CollectionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Video)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uploader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.CollectionID)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Language)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.LongDescription)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Video)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Uploader)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Iat)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
