@model IEnumerable<KulaMVC.Models.Module>
@using Markdig

<div>
    <div id="sideNavigation" class="sidenav">
        <ull>
            <li><a class="closebtn" onclick="closeNav()">&times;</a></li>
            @foreach (var item in Model)
            {
                    <a asp-action="Preview" asp-route-collectionID="@item.collectionID" asp-route-moduleID="@item.ID">
                        <li class="file">
                        @item.title

                        </li>
                    </a>
            }
        </ull>
    </div>
    <div id="main-content" class="main-content">
        @* <div id="sideNavigation" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
            </div>

            <div id="main">
            <h2>Sidenav Push Example</h2>
            <p>Click on the element below to open the side navigation menu, and push this content to the right.</p>
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
            </div> *@

        <span id="block-button" style="cursor:pointer;" onclick="openNav()">&#9776;
        </span>
        <div class="sidebar2">
            <ul>
                @foreach (var item in Model)
                {
                        <a asp-action="Preview" asp-route-collectionID="@item.collectionID" asp-route-moduleID="@item.ID">
                            <li class="file">
                            @item.title

                            </li>
                        </a>
                }
            </ul>
        </div>
        <h1>@ViewData["title"]</h1>
        @{
            //var html=$"## Markdown Text * Item 1 * Item 2 The current Time is: **{@DateTime.Now.ToString("HH:mm:ss")}**";

            if ((String)ViewData["shortDescription"] != null)
            {
                var pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().Build();
                var shortString = Markdown.ToHtml((String)ViewData["shortDescription"], pipeline);
                        <div>@Html.Raw(shortString)</div>
            }
                <hr>
            if ((String)ViewData["longDescription"] != null)
            {
                var pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().Build();
                @* <div class="col justify" style="text-align: justify;">@ViewData["shortDescription"]</div> *@
                var longString = Markdown.ToHtml((String)ViewData["longDescription"], pipeline);
                        <div>@Html.Raw(longString)</div>
            }

        }
        <div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        function openNav() {
            document.getElementById("sideNavigation").style.width = "250px";
            document.getElementById("main-content").style.marginLeft = "250px";
        }
        function closeNav() {
            document.getElementById("sideNavigation").style.width = "0";
            document.getElementById("main-content").style.marginLeft = "0";
        }
    </script>