@model IEnumerable<KulaMVC.Models.Module>

@{
    ViewData["Title"] = "Details";
}
<a asp-controller="Modules" asp-action="Create" asp-route-CollectionID=@ViewData["collection"]>Add Modules</a>
<div class="modules">
    @{
        var count = 0;
        @foreach (var item in Model)
        {
            count++;
            <div>
                <div>
                    <h4>@count. @item.Title</h4>
                    <p>@item.ShortDescription</p>
                </div>
                <div>
                    <a asp-controller="Modules" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-info">Edit</a>
                    <a asp-controller="Modules" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                </div>
            </div>
            <hr />
        }
    }
</div>
