@model IEnumerable<KulaMVC.Models.Course>
@using Markdig
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
}
<div>
    <img b-h1z1mxik6a="" class="logo" src="https://i.ibb.co/1GgrKCJ/goat.png" alt="logo">
    <h1>Welcome to Kula Learn</h1>
</div>
<div>
    <div>
        We offer beginner and more advanced courses.
    </div>
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Instructor"))
    {
        <a class="create-new-course" asp-action="Create">Create New Course</a>
    }
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <a class="create-new-course" asp-action="Create">Create New Course</a>
    }
</div>
<div class="courses">
    @foreach (var item in Model)
    {
        <div class="course">
            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
            <img src="@item.ImageUrl" />
            @{
                var pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().Build();
                var hString = Markdown.ToHtml(@item.ShortDescription!, pipeline);
                <div>@Html.Raw(hString)</div>
            }
            <div>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Student"))
                {
                    <a asp-route-CollectionID="@item.ID" asp-controller="Modules" asp-action="Preview">View Course</a>
                }
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Instructor"))
                {
                    <a asp-route-CollectionID="@item.ID" asp-controller="Modules" asp-action="Preview">Preview</a>
                    <a asp-route-id="@item.ID" asp-action="Edit">Edit</a>
                }
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <a asp-route-CollectionID="@item.ID" asp-controller="Modules" asp-action="Preview">Preview</a>
                    <a asp-route-id="@item.ID" asp-action="Edit">Edit</a>
                    <a asp-route-id="@item.ID" asp-action="Delete">Delete</a>
                }
            </div>
            <div>
                Created at:
                @{
                    System.DateTime dtDateTime = new DateTime(1970, 1, 1, 0, 0, 0, 0, System.DateTimeKind.Utc);
                    dtDateTime = dtDateTime.AddSeconds(item.CreatedAt).ToLocalTime();
                }
                @dtDateTime
            </div>
            <div>Last modified by: <b>Instructor</b></div>
        </div>
    }
</div>
