@model IEnumerable<KulaMVC.Models.Course>
@using Markdig
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
}
<div>
    <h2>Welcome to Kula Learn</h2>
</div>
<img src="https://i.ibb.co/ZBYYGj0/course.png" />
<div>Browse</div>
<div>We offer beginner and more advanced courses.
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Instructor"))
    {
        <a asp-action="Create">Create New Course</a>
    }
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New Course</a>
    }
</div>
<div>
    @foreach (var item in Model)
    {
        <div>
            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
            <img src="@item.ImageUrl" />
            @{
                var pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().Build();
                var hString = Markdown.ToHtml(@item.ShortDescription!, pipeline);
                <div>@Html.Raw(hString)</div>
            }
            <div>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Student"))
                {
                    <a asp-route-CollectionID="@item.ID" asp-controller="Modules" asp-action="Preview">Enroll</a>
                }
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Instructor"))
                {
                    <a asp-route-CollectionID="@item.ID" asp-controller="Modules" asp-action="Preview">Preview</a>
                    <a asp-route-id="@item.ID" asp-action="Edit">Edit</a>
                }
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <a asp-route-CollectionID="@item.ID" asp-controller="Modules" asp-action="Preview">Preview</a>
                    <a asp-route-id="@item.ID" asp-action="Edit">Edit</a>
                    <a asp-route-id="@item.ID" asp-action="Delete">Delete</a>
                }
            </div>
            <div>Created at:
                @{
                    System.DateTime dtDateTime = new DateTime(1970, 1, 1, 0, 0, 0, 0, System.DateTimeKind.Utc);
                    dtDateTime = dtDateTime.AddSeconds(item.CreatedAt).ToLocalTime();
                }
                @dtDateTime
            </div>
            <div>Last modified by: Instructor</div>
        </div>
    }
</div>
